body {
  /*Dette er en google-font*/
  font-family: 'Roboto', sans-serif;
  background-color: #DFF2EE;
  margin: 0;
  padding: 0;
  min-width: 300px;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

/*Teksten på memet. Der er sat en standard-placering, som dog kan ændres af brugeren*/
.meme-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);/*Centrerer meme-teksten*/
}

/*Til den div som indeholder billede og tekst*/
.meme-container {
  position: relative;
}

p {
  margin-bottom: 20px;
}

/*Hele sidens indhold er i denne div, undtagen banneret i toppen*/
.content {
  flex-direction: column;
  padding-top: 160px;
  max-width: 800px;
  margin: auto;
  display: flex; /*Alt i content er flexibelt, hvilket er godt for resposive-design*/
}

/*Knappen til "kom i gang" og "upload billede", samt den til at gå tilbage*/
.continue, .back {
  border-radius: 8px;
  width: 90%;
  min-height: 70px;
  font-size: 60px;
  border: none;
  background-color: #418E81;
  font-size: 50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;/*User feedback, i form af at cursoren bliver en pointer*/
}

/*Knapperne gøres lysere når der holdes over dem, for at indikere at de kan klikkes*/
.continue:hover {
  background-color: #54b8a7;
}

.back:hover {
  background-color: #ff8795;
}

/*Knappen til at gå tilbage*/
.back {
  background-color: #E26F7C;
}

/*Banneret øverst på siden*/
.banner {
  padding-top: 10px;
  background-color: white;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  margin-bottom: 20;
  position: fixed;
  top: 0;
}

/*Til afsnittet om dagens meme på startsiden*/
.mainContent {
  width: 70%;
  text-align: left;
  padding-top: 40px;
}

/*Alle billeder*/
img {
  border: 1px solid #000000;
  width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

/*De muligheder man har for at ændre ved memet som bruger*/
.memeOptions {
  font-size: 30px;
  border-radius: 8px;
}

/*Til label som benyttes bl.a. i "upload billede"-knappen og som teksten på memet*/
label {
  max-width: 100%;
  display: inline-block;/*Gør at knappen "upload selv" har den rette bredde*/
  overflow-wrap: break-word;/*Bryder ordet op hvis det går ud over kanten*/
}